
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.Vehicle_Inventory{
    display: flex;
    padding-top: 2%;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
}